/* Leaderboard Section */
.leaderboard {
  height: 100%;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.leaderboard h2 {
  font-size: 28px;
  color: #333;
  text-align:center;
  
}

.leaderboard-table {
  margin: 0 auto;
  width: 80%;
  
  max-width: 600px;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align:center;
}

.leaderboard-table th {
  background-color: #007bff;
  font-size:18px;
  color: white;
}