/* Reset styles for margin and padding */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}
/* Header Styles */
header {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    border-bottom: 1px solid rgba(0, 63, 123, .2);    
}

header h1 a {
    margin: 0 ;
    font-size: 28px;
}

nav a {
    color: #232E3F;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

/* Main Content Styles */
.main {
    flex: 1;
    width:80%;
    margin:0 auto;
    background-color:white;;
    height: 75vh; 
    box-sizing: border-box; 
/* Ensures padding doesn’t affect height */
}

/* Footer Styles */
footer {
    background-color: #232E3F;
    color: white;
    text-align: center;
    padding: 15px;
    height: 10vh;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}