<!-- templates/home.html -->
{% extends "layout.html" %}

{% block head %}
<title>Home - SudokuZone</title>
<link rel="stylesheet" href='/static/css/home.css'>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="hero">
    <h1>Welcome to SudokuZone</h1>
    <p>Challenge your mind with endless Sudoku puzzles!</p>
    <div class="buttons">
        <a class="play-button" href="/play">Play as Guest</a>
        <a class="login-button" href='/login'>Login / Sign Up</a>
    </div>
</div>

{% endblock %}