<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Sudoku Lounge</title>
    {% endblock %}
    <link href="/static/styles.css" rel="stylesheet" >   
</head> 

<body>
        <!-- Header -->
        <header>
            <h1>
                <span class="menu-icon" onclick="toggleMenu()">☰</span>
                <a href="/" style="text-decoration:none;color: #232E3F">Sudoku Lounge</a>
            </h1>
            <nav class="main-navigation">
                <ul id="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/play">Play as Guest</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
            </nav>
        </header>
        <!-- Main Content -->
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        
    <!-- Footer -->
    <footer>
        <p>&copy;2024 Sudoku Lounge. All Rights Reserved.</p>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
    </footer>
</body>
<script>
    function toggleMenu() {
        var navLinks = document.getElementById('nav-links');
        if (navLinks.style.display === 'flex') {
            navLinks.style.display = 'none';
        } else {
            navLinks.style.display = 'flex';
        }
    }
</script>
</html>