<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sudoku Lounge{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet" >    
</head>

<body>
    <div style="height: 100%">
        <!-- Navbar -->
        {% include 'header.html' %}
    
        <!-- Main Content -->
        <div style="height: 80%"> 
            {% block content %}
            {% endblock %}
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
</body>

</html>