<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>SudokuZone</title>
    {% endblock %}
    <link href="/static/css/styles.css" rel="stylesheet" >   
</head> 

<body>
    <!-- Header -->
    <header>
        <h1>
            <a href="/">SudokuZone</a>
        </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/play?difficulty=easy">Play</a>
            <a href="/leaderboard">Leaderboard</a>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
        
    <!-- Footer -->
    <footer>
        <p>&copy;2024 SudokuZone. All Rights Reserved.</p>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
    </footer>
</body>

</html>