<!-- templates/home.html -->
{% extends "layout.html" %}

{% block head %}
<title>Leaderboard - Sudoku Lounge</title>
<link href="/static/leaderboard.css" rel="stylesheet" >   
{% endblock %}

{% block content %}

<!-- Leaderboard Section -->
<div class="leaderboard">
    <h2>Leaderboard</h2>
    <table class="leaderboard-table">
        <tr>
            <th>Name</th><th>Rank</th><th>Score</th> 
        </tr>
        <tr>
            <td>Player1</td><td>1</td><td>1500</td>
        </tr>
        <tr>
            <td>Player2</td><td>2</td><td>1400</td>
        </tr>
        <tr>
            <td>Player3</td><td>3</td><td>1300</td>
        </tr>
        <tr>
            <td>Player4</td><td>4</td><td>1250</td>
        </tr>
        <tr>
            <td>Player5</td><td>5</td><td>1100</td>
        </tr>
        <tr>
            <td>Player6</td><td>6</td><td>1000</td>
        </tr>
        <tr>
            <td>Player7</td><td>7</td><td>970</td>
        </tr>
        <tr>
            <td>Player8</td><td>8</td><td>860</td>
        </tr>
        <tr>
            <td>Player9</td><td>9</td><td>790</td>
        </tr>
        <tr>
            <td>Player10</td><td>10</td><td>710</td>
        </tr>
    </table>
</div>

{% endblock %}